* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 13px;
}

body {
  padding: 16px;
}

button {
  font-size: 14px;
  color: white;
  background-color: steelblue;
  border-radius: 4px;
  border: none;
  height: 32px;
  margin-left: 8px;
}

input[type=text] {
  font-size: 14px;
  padding: 4px;
  height: 32px;
  margin-left: 8px;
}

label {
  font-size: 14px;
}

.chatroom header {
  margin-bottom: 16px;
}

.chatroom .form {
  margin-bottom: 16px;
}

.chatroom .form input {
  width: 430px;
}

.chatroom .form button {
  width: 90px;
}

.chatroom .chat {
  padding: 0px 8px 8px 8px;
  border: solid silver 1px;
  width: 600px;
  margin-bottom: 16px;
  min-height: 400px;
}

.chatroom footer {

}